body{
   background-color: beige;
}

h2{
    font-family: Verdana;
    font-weight: bolder;
    color: dimgray;
    text-align: center;
}

#imageContainer{
    text-align: center;
    margin: 15px;
}

#imagesCarrousel{
    margin : 10px;
    text-align: center;
}

#imagesCarrousel td{
    border: solid black 1px;
    margin: 5px;
}

#presentation{
    font-size: 18px;
    margin : 10px;
    text-align: justify;
    color : black;
    font-family: Verdana;
    border : solid black 1px;
    padding : 10px;

}

i{
    color : dimgray;
}
a{
    font-size : 14px;
    color : black;
}
