h2{
    font-family: Verdana;
    font-weight: bolder;
    color: dimgray;
    text-align: center;
}

#imageContainer{
    text-align: center;
    margin: 15px;
}

#imagesCarrousel{
    margin : 10px;
    text-align: center;
}

#imagesCarrousel td{
    border: solid black 1px;
    margin: 5px;
}
